.field {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  font-size: var(--font-size-md);
}

.labelText {
  font-weight: var(--font-weight-medium);
  margin-left: var(--space-2);
  margin-right: var(--space-2);
}

.error {
  color: var(--color-error);
  font-size: var(--font-size-sm);
  margin: 0;
}

.hint {
  margin: 0;
  font-size: var(--font-size-xs);
  color: var(--color-text-hint);
}
