@import "/src/styles/utils/toggle-group.css";

.field {
  align-items: end;
  justify-content: end;
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  width: fit-content;
  padding-left: var(--space-4);
  padding-right: var(--space-4);
  margin-right: calc(var(--space-4) * -1);
  margin-left: auto;
  cursor: pointer;
}

.field span:nth-child(1) {
  margin-right: var(--space-4);
}

.toggle {
  composes: toggleGroupContainer;
  position: relative;
  border: none;
  cursor: pointer;
}

.toggleOption {
  composes: toggleGroupOption;
  position: relative;
  z-index: 2;
  pointer-events: none;
}

.toggleOption:hover {
  color: var(--color-text);
}

.toggle:not(.toggleOn) .toggleOption:first-child,
.toggleOn .toggleOption:last-child {
  background: var(--color-primary-gradient);
  color: var(--color-text-dark);
  font-weight: var(--font-weight-semibold);
}

.button {
  composes: pillButtonBase from "../styles/formShared.module.css";
  padding: var(--padding-button-md);
}

.buttonOn {
  composes: pillButtonOn from "../styles/formShared.module.css";
}